# Ignore the Virtual Environment
.venv/
venv/
env/

# Ignore the log file
*.log 
# Ignore the Google Cloud Secret Key (CRITICAL)
gcp-key.json
*.json

# Ignore Python cache files
__pycache__
*.py[cod]


# OS files
.DS_Store
Thumbs.db